html {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
:focus {
    outline-color: transparent;
    outline-style: none;
}
.btn.btn-danger {}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
.navlink {
    margin: 75px 0 -55px 0;
    color: white;
    font: 40pt "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
.navlink:hover {
    color: darkred;
    text-decoration: none;
}
.navlink:active {
    color: white;
    text-decoration: none;
}
.navlink:visited {
    color: white;
    text-decoration: none;
}
.navlink {
    width: 90%;
    text-indent: 40px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
aside {
    position: absolute;
    color: white;
    top: 35%;
    right: 10%;
    text-align: right;
}
#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 28px;
    left: 28px;
    background: darkred;
    width: 32px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 2;
    border-radius: 3px;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(250, 0, 0, 0.8);
    /*opacity: 0.8;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: not-checked-anim .2s both;
    transition: .2s;
    z-index: 1;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}


#showsContainer {
    text-align: center;
    width: 100%;
    height: 750px;
    overflow-y: scroll !important;
    margin-top: 20px;
}
#showsTable {}
.moviesContainer {
    text-align: center;
    width: 100%;
    height: 750px;
    overflow-y: scroll !important;
    margin-top: 20px;
}
#searchContainer {
    float: right;
    width: 92%;
    overflow: hidden;
}
ul li h1 {
    color: black;
    display: inline;
    width: 100%;
    text-indent: 50vw;
}
.login-container {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
}
.searchLogin {
    float: right;
}
.top-header {
    padding: 45px;
    background-color: whitesmoke;
}
.header-two {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.row-title {
    margin-top: 5%;
}
.mix-shows-btn, .mix-movies-btn {
    opacity: 0.8;
    width: 250px;
    height: 250px;
    padding: 0 auto 0 auto;
    margin: 0 50px 0 50px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-radius: 300px;
    z-index: 3;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.mix-shows-btn:hover, .mix-movies-btn:hover {
    color: white;
    background-color: red;
    width: 200px;
    height: 200px;
    z-index: 4;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    border: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#mixForm {
    text-align: center;
    margin: 50px auto 50px auto;
}
.mix-title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    opacity: 0.8;
    color: red;
}
#mixContainer {
    text-align: center;
}
#fav-logout {
    float: right;
}
.welcome {
    padding: 10px;
    font-weight: 100px;
    color: red;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    opacity: 0.8;
}
.footer-logo {
    float: right;
}
.btn.btn-danger {
    background-color: red;
    opacity: 0.8;
}
.btn.btn-danger:hover {
    background-color: darkred;
}
.username, .password {
    margin: 5px;
    width: 200px;
    height: 25px;
    display: block;
}
.btn.searchLogin {
    background-color: whitesmoke;
    color: gray;
    border: 1px solid gray;
}
.loader {
    margin: 0 0 2em;
    height: 200px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 0 auto;
    vertical-align: middle;
}

/*
  Set the color of the icon
*/

svg path, svg rect {
    fill: red;
    opacity: 0.8;
}
.mix-link {
    margin: 0;
    display: inline;
    text-align: center;
}
.modal-content {}
.modal-title {
    margin: 0;
}
#fav-logout {
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}
#fav-logout-too {
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    background-color: white;
}
#fav-login {
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: center;
    background-color: white;
}
.row.logo {
    z-index: 5;
    position: absolute;
    top: 1px;
    right: 48%;
}
.title-logo {
    font-size: 30px;
    vertical-align: top;
    color: white;
}
.random-title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
}
span {
    display: inline-block;
    color: black;
    margin: 5px;
    padding: 10px;
    width: 25%;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.random-word {}
#showFavoritesList {
    width: 100%;
    height: 750px;
    overflow-y: scroll !important;
    padding: 0;
}
.poster, .title, .favorite {
    width: 100px;
    margin: 0;
    text-align: center;
}
.airdate {
    width: 150px;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
.links {
    width: 300px;
    margin: 0;
    text-align: center;
}
td {
    font-size: 16px;
    font-weight: 300;
}
.movieLinks {}
.movie-link {
    margin: 1px;
    display: inline;
}
.favorite-row {
    width: 100%;
}
