<div class="row">
    <!-- <div class="col-xs-11"></div> -->
    <div class="col-xs-12">
      <button class="btn btn-default" id="fav-logout" ng-click="logout()">Log Out</button>
    </div>
</div>

<div class="row">
<div class="col-xs-12">
  <h1 class="welcome" class="lead">Hey, {{userName}}! Here are all your favorites.</h1>
</div>
</div>

<div>
  <ul id="showFavoritesList">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Series Title</th>
                <th>Poster</th>
                <th>Links</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="favorite in favorite">
                <td>{{favorite.title}}</td>
                <td><img src="{{favorite.image}}" /></td>
                <td>
                    <a href="https://en.wikipedia.org/?curid={{favorite.wikipedia_id}}" target="_blank">
                        <button class="btn btn-danger">Learn More</button>
                    </a>
                    <a href="{{favorite.tvrage.link}}" target="_blank">
                        <button class="btn btn-danger">Watch Episodes</button>
                    </a>
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="deleteFavorite(favorite._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
<div>
