<div class="row logo">
  <div class="col-xs-12">
    <h1 class="title-logo">streamix</h1>
  </div>
</div>

<div class="row header-two">
    <div class="col-xs-2">
        <h6 class="welcome" ng-show="loggedIn">Welcome, {{userName}}!</h6>
    </div>
    <div class="col-xs-8"></div>
    <div class="col-xs-2">
        <button ng-hide="loggedIn" class="btn searchLogin" data-toggle="modal" id="fav-login" data-target="#loginModal">Login</button>
        <button ng-show="loggedIn" class="btn searchLogin" id="fav-logout" ng-click="logout()">Logout</button>
    </div>
</div>


<div class="row">
    <div class="col-xs-4">
        <div class="hidden">

        </div>
    </div>
    <div id="searchContainer" class="col-xs-3" center-block>
        <h2>Search by Title</h2>
        <form id='searchShowsForm'>
            <input id="search" type="text" name="tags" placeholder="Search TV Shows" ng-model="showInput" required autofocus>
            <button class="btn btn-danger" id="go" type="submit" ng-click="searchShow()">Go</button>

        </form>
        <form id='searchMoviesForm'>
            <input id="search" type="text" name="tags" placeholder="Search Movies" ng-model="movieInput" required></input>
            <button class="btn btn-danger" id="go" type="submit" ng-click="searchMovie()">Go</button>

        </form>
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2"></div>
</div>

<div class="row">
    <div class="col-xs-1">
        <div class="hidden"></div>
    </div>
    <div ng-show="loading" class="loader loader--style2" title="1">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite" />
            </path>
        </svg>
    </div>
    <div id="showsContainer" class="col-xs-10" ng-show="showResults && top">


        <h2 ng-hide="loading">{{show.length}} show results for "{{showInput}}"</h2>
        <table ng-hide="loading" class="table table-hover">
            <thead>
                <tr>
                    <th class="poster">Poster</th>
                    <th class="title">Title</th>
                    <th class="airdate">First Air Date</th>
                    <th class="links">Links</th>
                    <th class="favorite"></th>
                </tr>
            </thead>
            <tbody class="showsTable">
                <tr ng-repeat="results in show">
                  <td class="poster"><img src="{{results.artwork_448x252}}" /></td>
                    <td class="title">{{results.title}}</td>
                    <td class="airdate">{{results.first_aired}}</td>
                    <td class="links">
                        <a href="https://en.wikipedia.org/?curid={{results.wikipedia_id}}" target="_blank" class="mix-link">
                            <button class="btn btn-default">Learn More</button>
                        </a>
                        <a href="{{results.tvrage.link}}" target="_blank" class="mix-link">
                            <button class="btn btn-default">Watch Episodes</button>
                        </a>
                    </td>
                    <td class="favorite">
                        <a class="mix-link">
                        <button ng-show="loggedIn" class="btn btn-default" ng-click="addFavoriteShow(results)">Favorite</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-1">
        <div class="hidden"></div>
    </div>

</div>

<div class="moviesContainer" ng-show="movieResults && toptoo">

    <h2>{{movie.length}} movie results for "{{movieInput}}"</h2>
    <table ng-hide="loading" class="table table-hover">
        <thead>
            <tr>
                <th class="poster">Poster</th>
                <th class="title">Title</th>
                <th class="title">Rating</th>
                <th class="airdate">Release Date</th>
                <th class="links">Links</th>
                <th class="favorite"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="results in movie">
                <td class="poster"><img src="{{results.poster_240x342}}" /></td>
                <td class="title">{{results.title}}</td>
                <td class="title">{{results.rating}}</td>
                <td class="airdate">{{results.release_date}}</td>
                <td class="links">
                    <a href="http://www.rottentomatoes.com/m/{{results.rottentomatoes}}" target="_blank" >
                        <button class="btn btn-default" id="button">Check Tomatoes</button>
                    </a>
                    <a href="http://www.imdb.com/title/{{results.imdb}}" target="_blank">
                        <button class="btn btn-default" id="button">IMDB</button>
                    </a>
                    <a href="https://en.wikipedia.org/?curid={{results.wikipedia_id}}" target="_blank" >
                        <button class="btn btn-default" id="button">Learn More</button>
                    </a>
                    <a href="http://www.guidebox.com/choose_source_movie.php?movie_id={{results.id}}" target="_blank">
                        <button class="btn btn-default" id="button">Viewing Links</button>
                    </a>
                </td>
                <td class="favorite">
                    <a><button ng-show="loggedIn" class="btn btn-default" ng-click="addFavoriteMovie(results)">Favorite</button></a>
                </td>

            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
                  <form ng-submit="login()">
                    <div>
                        <input class="username" type="text" ng-model="user.username" placeholder="Username" />
                    </div>
                    <div>
                        <input class="password" type="password" ng-model="user.password" placeholder="Password"/>
                    </div>
                    <div>
                        <input class="btn btn-danger" type="submit" name="submit" value="Submit" />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-toggle="modal" data-target="#registerModal">Register</button>
                </div>
            </div>


      </div>
    </div>


    <div class="modal fade" id="registerModal" role="dialog">
      <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Register</h3>
                </div>
                <div class="modal-body">
                  <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
                  <form ng-submit="registerUser()">
                    <div>
                        <input class="username" type="text" ng-model="user.username" placeholder="Username" />
                    </div>
                    <div>
                        <input class="password" type="password" ng-model="user.password" placeholder="Password" />
                    </div>
                    <input class="btn btn-danger" type="submit" name="submit" value="Register" />
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79588836-1', 'auto');
      ga('send', 'pageview');

    </script>
